<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/trombones">View Trombones</a>
  </nav>
  <p>
    This is the most current and up-to-date collection of trombones made before 1800. From here, you can view specific horns or submit information on a horn you think might be old enough to be included in this list. Thanks for checking us out!
  </p>

  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>

